<div class="table">
    <div class="table__container">
        <div class="table__header">
            <h2 class="table__title">
                issues
            </h2>
            <div class="table__column-container">
                <div class="table__column" *ngFor="let name of columnName" (click)="sortByColumnName.emit(name)">
                    {{ name }}
                    <img class="{{ sortBy?.columnName === name && sortBy?.orderBy ? 'table__column--rotate' : '' }}" src="assets/svgs/triangle.svg">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="tickets && tickets.length; else showEmptyState" cdkDropList class="table__container" (cdkDropListDropped)="drop.emit($event)">
        <app-row
            *ngFor="let ticket of tickets"
            [ticket]="ticket"
            (toggleTicketPriority)="toggleTicketPriority.emit($event)"
        ></app-row>
    </div>
    <ng-template #showEmptyState>
        <div class="table__empty-state">
            Sorry, there are no tickets to show. In the meantime, I hope enjoy you my favorite gif :) 

            <iframe src="https://giphy.com/embed/unQ3IJU2RG7DO" frameBorder="0" class="table__gif" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/unQ3IJU2RG7DO"></a></p>
        </div>
    </ng-template>
</div>


