<div class="search-form">
    <form 
        class="search-form__container" 
        autocomplete="off"
        [formGroup]="searchForm"
        (ngSubmit)="submitSearch.emit()"
    >
        <label class="search-form__placeholder-text">search {{ placeholderText }}</label>
        <input 
            class="search-form__input-box"
            placeholder="search {{ placeholderText }}"
            type="text"
            formControlName="searchInputText"
        >
        <label class="form__submit" (click)="submitSearch.emit()">
            <img 
                class="search-form__search-icon" 
                src="assets/svgs/search.svg" 
                alt="magnifying glass search icon"
            >
        </label>
    </form>
</div>