.text-block {
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    text-transform: uppercase;

    &--initiation {
        background-color: #fdecf2;
        color: #eb3e7a;
    }

    &--planning {
        background-color: #ebe8fc;
        color: #8170ef;
    }

    &--execution {
        background-color: #fff7d9;
        color: #f4c62e;
    }
}
